<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<title></title>
	</head>
	<link rel="stylesheet" href="__STATIC__/css/style.css" />
	<link rel="stylesheet" href="__STATIC__/css/other.css" />
	<script src="__STATIC__/js/jquery-1.11.0.min.js"></script>
	
	<script src="__STATIC__/js/common.js" type="text/javascript" charset="utf-8"></script>
	<style>
	</style>

	<script>
        var itime = 59; //定义一个变量，倒计时初始化，从59秒开始
        function getTime() {
            if (itime >= 0) {
                if (itime == 0) {
                    //倒计时变成0时，
                    //要清除计时器
                    clearTimeout(act);
                    //设置按钮为初始状态
                    $("#getCodeBtn").val('免费获取手机验证码').attr('disabled', false);
                    itime = 59;
                } else {
                    //延迟一秒中执行该函数。
                    var act = setTimeout('getTime()', 1000);
                    //把倒计时的秒显示到按钮中
                    $("#getCodeBtn").val('还剩' + itime + '秒');
                    itime = itime - 1;
                }
            }
        }
        $(function() {
            //定义一个函数,用于完成倒计时效果
            $("#getCodeBtn").click(function() {
                //获取输入的手机号码
                var telphone = $("#telphone").val();

                if(telphone) {
                    //ajax请求文件，调用短信发送的接口
                    $.ajax({
                        type: 'get',
                        url: '{:url("code/get_code")}',
                        data:{

                            user_phone:telphone,
							is_exist:0

						},
                        success: function(msg) {
                            //判断调用短信发送接口是否成功，
                            if (msg == 1) {
                                //调用接口已经成功
                                alert('发送失败');
                                $("#getCodeBtn").attr('disabled', true); //要禁用该按钮
                                //调用一个函数，完成倒计时效果。
                                getTime();
                            } else{
                                alert('短信验证码已经发送成功');
                                $("#getCodeBtn").attr('disabled', true);
                                getTime();
                            }
                        }
                    });
                } else{
                    alert('请输入手机号');
                }

            });
        });
	</script>

	<body>
	<div class="header">
	{include file="public/header"}
	</div>
		<div class="full_wid">

			<div class="login_bg">
				<div class="login_tab" >
					<div class="login_sure">
						<ul class="login_type">
							<li class="active" onclick="set('bd0',1,2)">账号密码登录</li>
							<b>|</b>
							<li onclick="set('bd0',2,2)">手机号快捷登录</li>
						</ul>
						<form class="login_phone" id="conbd01" action="{:url('user/login')}" method="post">
								<div class="border"><img src="__STATIC__/img/phone.png" alt="" height="35"/><input type="user_phone" name="user_phone" placeholder="请输入用户名"/></div>
								<div class="border"><img src="__STATIC__/img/mm.png" alt="" height="35" /><input type="user_pwd" name="user_pwd" placeholder="请输入密码"/></div>
								<p class="ptp15"><input type="checkbox" name=""  value="" />自动登录 <span class="forgetPwd"><a href="" class="color9">忘记密码</a></span></p>
								<input class="login_btn btn_login_n" type="submit" value="立即登录" />
								<p class="regist_btn" style="margin: 0px;">免费注册</p>
						</form>
						<form class="login_phone" id="conbd02" style="display: none;" action="{:url('user/login_sms')}" method="post" >
							<div class="border"><img src="__STATIC__/img/phone.png" alt="" height="35"/><input type="text" name="user_phone" id="telphone" placeholder="请输入个人或商家手机号"/></div>
							<div class="border login_ver"><img src="__STATIC__/img/yzm.png" alt="" height="35"/><input type="text" name="code" placeholder="请输入验证码" /><span class="getcode"><input type="button" value="免费获取手机验证码" id="getCodeBtn" style="width: 120px;height: 40px;font-size:12px; padding-left:1px;color:#333; " /></span></div>
							<p class="ptp15"><input type="checkbox" name="" id="" value="" />自动登录 <span class="forgetPwd"><a href="" class="color9">忘记密码</a></span></p>
							<input class="login_btn btn_login_n" type="submit" value="立即登录" />
							<p class="regist_btn" style="margin:0px">免费注册</p>
						</form>
					</div>
					
					<div class="login_other">
						<img src="__STATIC__/img/ewm.png" alt="" class="app_down" width="225"/>
						<p class="textCenter">扫描下载</p>
						<div><img src="__STATIC__/img/qq.png" alt="" />QQ登录</div>
						<div><img src="__STATIC__/img/wx.png" alt="" />微信登录</div>
					</div>
				</div>
			</div>
		</div>
		<div class="footer"></div>
		<div class="fixedRight">
			<ul class="right_sider">
				<li><div class="gj_side_contnet iocn_s1"><p>pk</p></div>
					<div class="gj_sidecon_desc "></div>
				</li>
				<li><div class="gj_side_contnet iocn_s2"><p>收藏</p></div>
					<div class="gj_sidecon_desc"></div>
				</li>
				<li><div class="gj_side_contnet iocn_s3"><p>浏览</p></div>
					<div class="gj_sidecon_desc"></div>
				</li>
				<li><div class="gj_side_contnet iocn_s4"><p>个人</p></div>
					<div class="gj_sidecon_desc"></div>
				</li>
				<li><div class="gj_side_contnet iocn_s5"><p>公众号</p></div>
					<div class="gj_sidecon_desc"></div>
				</li>
				<li><div class="gj_side_contnet iocn_s6"><p>APP下载</p></div>
					<div class="gj_sidecon_desc"></div>
				</li>
				<li><div class="gj_side_contnet iocn_s7"><p>客服</p></div>
				<div class="gj_sidecon_desc"></div></li>
				<li><div class="gj_side_contnet iocn_s8"><p>反馈</p></div>
				<div class="gj_sidecon_desc"></div></li>
				<li><div class="gj_side_contnet iocn_s9"><p>顶部</p></div>
					<div class="gj_sidecon_desc"></div>
				</li>
				
			</ul>
		</div>
		<div class="footer">
			{include file="public/footer"}
		</div>
	</body>
	<!--{include file="public/footer"}-->
	<script>
		$(function(){
            $($(".wrap li")[7]).addClass("active").siblings().removeClass("active");
			$(".login_type li").click(function(){
			   $(this).addClass('active').siblings('li').removeClass('active')
			})
		})
</script>
</html>
