<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html">
	<head>
		<meta charset="utf-8"/>
		<title></title>
	</head>
	<link rel="icon" type="image/x-icon" href="favicon.png">
	<link rel="stylesheet" href="__STATIC__/css/style.css" />
	<link rel="stylesheet" href="__STATIC__/css/other.css" />	
	<style>

	</style>
	<body>
	<div class="header">
		{include file="public/header"}
	</div>

		<div class="full_wid">			
			<div class="wrap ">	
				<div class="person_center">
					<div class="person_left">
						<div class="person_info">
							<div class="user_avatar"><img src="__STATIC__/img/yhtx.png" alt="" /></div>
							<p class="uphone">{$Think.session.phone}</p>
							<p>向阳二手车一号店</p>							
						</div>
						<div class="tab_choose">
							<ul>
								<li class=""><a href="{$domain}/{$Think.session.cityurl}/per_man"><b class="icon_xb1"> </b>管理店铺<i class="icon iconfont icon-jiantou"></i></a></li>
								<li class=""><a href="{$domain}/{$Think.session.cityurl}/per_rele"><b class="icon_xb2"></b>发布车辆信息<i class="icon iconfont icon-jiantou"></i></a></li>
								<li class=""><a href="{$domain}/{$Think.session.cityurl}/per_pub.html"><b class="icon_xb3"></b>发布过的<i class="icon iconfont icon-jiantou"></i></a></li>
								<li class=""><a href="{$domain}/{$Think.session.cityurl}/per_buse.html"><b class="icon_xb4"></b>商家入驻<i class="icon iconfont icon-jiantou"></i></a></li>
								<li class=""><a href="{$domain}/{$Think.session.cityurl}/per_oppo.html"><b class="icon_xb5"></b>商机<i class="icon iconfont icon-jiantou"></i></a></li>
								<li class=""><a href="{$domain}/{$Think.session.cityurl}/per_info.html"><b class="icon_xb6"></b>个人资料<i class="icon iconfont icon-jiantou"></i></a></li>
								<li class=""><a href="{$domain}/{$Think.session.cityurl}/per_coll.html"><b class="icon_xb7"></b>我的收藏<i class="icon iconfont icon-jiantou"></i></a></li>
								<li class="active"><a href="{$domain}/{$Think.session.cityurl}/per_his"><b class="icon_xb8"></b>浏览记录<i class="icon iconfont icon-jiantou"></i></a></li>
								<li class=""><a href="{$domain}/{$Think.session.cityurl}/per_feed.html"><b class="icon_xb9"></b>意见反馈<i class="icon iconfont icon-jiantou"></i></a></li>
								<li class=""><a href="{$domain}/{$Think.session.cityurl}/per_ord.html"><b class="icon_xb10"></b>我的预约<i class="icon iconfont icon-jiantou"></i></a></li>
							</ul>
						</div>
					</div>
					<div class="person_right">
						<h1 class="borbt"><span class="release">商家入驻</span></h1>
						<h2 class="step"></h2>
						<form  action="{:url('user/business_entry')}" method='post' enctype='multipart/form-data'>
						<div class="business_enter">
							<div>
								<h3>选择类型 <span>请选择您的入驻类型</span></h3>
								<div class="sel_type gj_clear">
									<input type="text" readonly placeholder="新车商户" class="businesType"/>
									<div class="position_r">
										<select name="type">
											<option value="1">新车商户</option>
											<option value="2">二手车商户</option>
											<option value="3">零首付商户</option>
											<option value="4">新能源商户</option>

										</select>

									</div>
								</div>								
							</div>
							<div>
								<h3>上传资料  </h3>
								<div class="bform_ipt">
									<div class="sel_type"><span>法人姓名</span><input type="text" name = "name" placeholder="请输入公司法人姓名" /></div>
									<div class="sel_type"><span>法人手机号</span><input type="text" name="phone" placeholder="请输入公司法人手机号"/></div>
									<div class="sel_type"><span>验证码</span><input type="text" placeholder="请输入验证码" class="verfity"/><span class="getcode">获取验证码</span></div>
									<div class="sel_type"><span>店铺名称</span><input type="text" name="shop_name" placeholder="请输入公司店铺名称"/></div>
									<div class="sel_type"><span>经营范围</span><input type="text" name="business_range" placeholder="请输入公司经营范围" class="slt_type" readonly/></div>
									<div class="sel_type"><span>公司地址</span><input type="text" name="address" placeholder="请输入公司经营地址"/></div>
								
								</div>
							</div>
							<div class="img_l gj_clear">
								<div class="fleft">
									<h3>上传营业执照  </h3>
									<div class="imgCont">
										 <!--<form id= "uploadForm" method='post' enctype='multipart/form-data'>-->
								            <input  type="file" name="door_photo" />
								            <div class="upLoad_pic">
									            <img class="img_up"  src="__STATIC__/img/addlo.png" >
									          
									        </div>
								        <!--</form>	-->
									</div>
								</div>
								<div class="fleft">
									<h3>店铺logo  </h3>
									<div class="imgCont">

										<input  type="file" name="shop_licence" />
								            <div class="upLoad_pic">
									            <img class="img_up" id="" src="__STATIC__/img/addlo.png" > 
									          
									        </div>

									</div>
									
								</div>
							</div>
							<div class="submit sub_btn"><input type="submit" value="提交" /></div>
						</div>
						</form>
					</div>

				</div>
				
			</div>
		</div>	
		<div class="footer"></div>
		
		<div class="mask1"></div>
	</body>
	<script src="__STATIC__/js/jquery-1.11.0.min.js"></script>
	<script>		
		$(function(){	
			$(".businesType").click(function(){
				$(this).parents('.sel_type').addClass('active');				
			})
			$(".selList li").click(function(){
					var result=$(this).text();
					$(".businesType").val(result);
					$(this).parents('.sel_type').removeClass('active');
				})
   			$(".header").load("templates/header.html");
	})
</script>
</html>
