<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8"/>
		<title></title>
	</head>
	<link rel="icon" type="image/x-icon" href="favicon.png">
	<link rel="stylesheet" href="__STATIC__/css/style.css" />
	<link rel="stylesheet" href="__STATIC__/css/other.css" />
	<link rel="stylesheet" href="__STATIC__/css/iconfont.css" />
	<style>

	</style>
	<body>
	<div class="header">
		{include file="public/header"}
	</div>
		<div class="full_wid">			
			<div class="wrap ">	
				<div class="person_center">
					<div class="person_left">
						<div class="person_info">
							<div class="user_avatar"><img src="__STATIC__/img/yhtx.png" alt="" /></div>
							<p class="uphone">15362352625</p>
							<p>向阳二手车一号店</p>							
						</div>
						<div class="tab_choose">
							<ul>
								<li class="active"><a href="person_manage.html"><b class="icon_xb1"> </b>管理店铺<i class="icon iconfont icon-jiantou"></i></a></li>
								<li class=""><a href="person_release.html"><b class="icon_xb2"></b>发布车辆信息<i class="icon iconfont icon-jiantou"></i></a></li>
								<li class=""><a href="person_public.html"><b class="icon_xb3"></b>发布过的<i class="icon iconfont icon-jiantou"></i></a></li>
								<li class=""><a href="person_busenter.html"><b class="icon_xb4"></b>商家入驻<i class="icon iconfont icon-jiantou"></i></a></li>
								<li class=""><a href="person_opportunity.html"><b class="icon_xb5"></b>商机<i class="icon iconfont icon-jiantou"></i></a></li>
								<li class=""><a href="person_info.html"><b class="icon_xb6"></b>个人资料<i class="icon iconfont icon-jiantou"></i></a></li>
								<li class=""><a href="person_collect.html"><b class="icon_xb7"></b>我的收藏<i class="icon iconfont icon-jiantou"></i></a></li>
								<li class=""><a href="person_history.html"><b class="icon_xb8"></b>浏览记录<i class="icon iconfont icon-jiantou"></i></a></li>
								<li class=""><a href="person_feedback.html"><b class="icon_xb9"></b>意见反馈<i class="icon iconfont icon-jiantou"></i></a></li>
								<li class=""><a href="person_order.html"><b class="icon_xb10"></b>我的预约<i class="icon iconfont icon-jiantou"></i></a></li>
							</ul>
						</div>
					</div>
					<div class="person_right">
						<h1 class="borbt"><span class="release">店铺装修</span></h1>
						<!--<h2 class="step">店铺装修</h2>-->
						<div class="upLoad_form">
							<ul class="storeInfo_ipt motify_ipt">
								
								<li><span class="my_form_tit">店铺名称：</span>
									<div class="fleft myform_ipt"><input type="text" placeholder="请填写您的店铺名称"/></div>
								</li>
								<li><span class="my_form_tit">联系电话：</span>
									<div class="fleft myform_ipt"><input type="text" placeholder="请填写您的联系电话" /></div>
								</li>
								<li><span class="my_form_tit">店铺地址：</span>
									<div class="fleft myform_ipt"><input type="text" placeholder="请填写您店铺的详细地址"/></div>
								</li>
								<li><span class="my_form_tit">营业时间：</span>
									<div class="fleft "><input type="text" placeholder="" class="startTiem"/>-<input type="text" placeholder="" class="endTiem"/></div>
								</li>
								<li><span class="my_form_tit">店铺描述：</span>
									<div class="fleft ">
										<textarea name="" rows="" cols="" class="store_desc" placeholder="请简要介绍您的店铺"></textarea>
										
									</div>
								</li>
								<li><span class="my_form_tit">上传门头：</span>
									<div class="picture">
										<div class='upload'>
									      <!--  <div class="upLoadImg">
										          <span class="center_img"><img class="imgg" id="" src="/assets/computer/images/img_406.png"></span>
										       <b class="delete"><img src="/assets/computer/images/fancy_close.png" alt=""></b>
										       </div>  -->
										</div>
								        <form id= "uploadForm" method='post' enctype='multipart/form-data'>
								            <input id="file_inp" type="file" name="file" />						
								            <div class="upLoad_pic">
									            <img class="img_up" id="" src="__STATIC__/img/addimg.png" > 
									            <span>点击上传图片</span>
									        </div>
								        </form>									        
								    </div>

								</li>
							</ul>								
							<p class="sub_btn pwd_submit">提交</p>
						</div>
					</div>
				</div>
				
			</div>
		</div>
	<div class="footer">
		{include file="public/footer"}
	</div>
		<div class="mask1"></div>
	</body>
	<script src="__STATIC__/js/jquery-1.11.0.min.js"></script>
	<script>		
		$(function(){			

			//加载公用头部和底部
		    $(".header").load("templates/header.html");
//		    $(".footer").load("templates/footer.html");

			
	})
</script>
</html>
