<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<title></title>
	</head>
	<link rel="stylesheet" href="__STATIC__/css/style.css" />
	<link rel="stylesheet" href="__STATIC__/css/other.css" />
	<script src="__STATIC__/js/jquery-1.11.0.min.js"></script>

	<style>

	</style>
	<body>
        <div class="full_wid">
			<div class="header">
				{include file="public/header"}
			</div>			
			<div class="news_bg"></div>
			<div class="wrap oh">
				 <div class="breadnav">您的位置：<a href="#">郑州二手交易市场</a>>><a href="#">二手车新闻资讯 >></a><a href=""> 公司新闻</a></div>
				<div class=" news_con">
					<h1>10万以上入手的郑州二手宝马3系 告诉你什么叫诠释低调的奢华</h1>
					<p class="new_time">时间：2018-06-07  来源：管家车易站</p>
					<p>(管家车易站 选车导购) 很多人都说，二手宝马3系是进口双门轿跑版，和国产版完全不是一回事，双门版轿跑单门的开合角度和尺寸都会很大，配合无框车窗，上下车很方便，整车颜值不是一般国产车能比的了的。其次这款宝马3系轿跑车虽然和国内版搭载同一型号发动机，但是因为发动机输出和底盘支撑挑选都偏向于运动模式，整车驾驶过程中给人一种十分稳健的感觉，喜欢入门级运动座驾的客户可以来试驾下。</p>
					<p class="new_img"><img src="img/img_406.png" alt="" /></p>
					<p>(管家车易站 选车导购) 很多人都说，二手宝马3系是进口双门轿跑版，和国产版完全不是一回事，双门版轿跑单门的开合角度和尺寸都会很大，配合无框车窗，上下车很方便，整车颜值不是一般国产车能比的了的。其次这款宝马3系轿跑车虽然和国内版搭载同一型号发动机，但是因为发动机输出和底盘支撑挑选都偏向于运动模式，整车驾驶过程中给人一种十分稳健的感觉，喜欢入门级运动座驾的客户可以来试驾下。</p>
					<p>(管家车易站 选车导购) 很多人都说，二手宝马3系是进口双门轿跑版，和国产版完全不是一回事，双门版轿跑单门的开合角度和尺寸都会很大，配合无框车窗，上下车很方便，整车颜值不是一般国产车能比的了的。其次这款宝马3系轿跑车虽然和国内版搭载同一型号发动机，但是因为发动机输出和底盘支撑挑选都偏向于运动模式，整车驾驶过程中给人一种十分稳健的感觉，喜欢入门级运动座驾的客户可以来试驾下。</p>
					<p class="textCenter"> 点击上述链接可以查看详细信息，或者在平台选择您感兴趣的车辆信息</p>
					<p class="textRight">-----责任编辑：管家车易站08</p>
					<div class="page_news">
				    	<a href=""><div class="news_t">郑州二手起亚佳乐 管家车易站 管家车易站</div> </a>
				    	<a href="" >上一篇</a><a href="">下一篇</a>
				    	<a href=""><div class="news_t">郑州二手起亚佳乐 管家车易站 管家车易站 </div></a>
					</div>
				</div>
				
			</div>
			<div class="wrap news_car_recom">
				<div class="tit_er">
			        <div class="line_tit"></div>			        
			        <h2 class="color tit_con">热门二手车</h2>	       
			    </div>
			    <div class="car_list marbtp10 ">
				    <ul class="list">
						{volist name="er_car" id="val" offset="1" length="10"}
						<li class="items5">
							<a href="" class="car_img flex_center"><img src="{$val.img_url}" alt="" /></a>
							<a href="" class="car_desc">
								<h3>{$val.name}</h3>
								<p><span class="car_price"><b>{$val.new_car_price}</b>万</span><span class="car_sui">新车含税{$val.price}万</span></p>
								<p><span>{$val.car_cardtime}上牌</span> <span class="padlt20">{$val.car_mileage}万公里</span> </p>
								<div class="che_ordered">立即预约</div>
							</a>
						</li>
						{/volist}
					</ul>
			    </div>
			    <div class="tit_er">
			        <div class="line_tit"></div>			        
			        <h2 class="color tit_con">热门新车</h2>	       
			    </div>
			    <div class="car_list marbtp10 ">
				   <ul class="list">
					   {volist name="new_car" id="val" offset="1" length="10"}
					   <li class="items5">
						   <a href="zeroCar.html" class="flex_around" target="_blank">
							   <a href="" class="car_img flex_center"><img src="{$val.img_url}" alt="" /></a>
							   <a href="" class="car_desc">
								   <h3>{$val.name}</h3>
								   <p class="valign ptp15">
									   <span class="pay_first plt10">首付<b class="">{$val.pay10_s2}</b>万</span>
									   <span class="pay_month">月供{$val.pay10_y2}元</span>
									   <span class="pay_month">月供{$val.pay10_n2}元</span>
								   </p>
								   <div class="che_ordered">立即预约</div>
							   </a>

						   </a>
					   </li>
					   {/volist}
						
					</ul>
			    </div>
			</div>
		    <div class="footer mtp40"></div>
		    <div class="fixedRight">
				<ul class="right_sider">
					<li><div class="gj_side_contnet iocn_s1"><p>pk</p></div>
						<div class="gj_sidecon_desc "></div>
					</li>
					<li><div class="gj_side_contnet iocn_s2"><p>收藏</p></div>
						<div class="gj_sidecon_desc"></div>
					</li>
					<li><div class="gj_side_contnet iocn_s3"><p>浏览</p></div>
						<div class="gj_sidecon_desc"></div>
					</li>
					<li><div class="gj_side_contnet iocn_s4"><p>个人</p></div>
						<div class="gj_sidecon_desc"></div>
					</li>
					<li><div class="gj_side_contnet iocn_s5"><p>公众号</p></div>
						<div class="gj_sidecon_desc"></div>
					</li>
					<li><div class="gj_side_contnet iocn_s6"><p>APP下载</p></div>
						<div class="gj_sidecon_desc"></div>
					</li>
					<li><div class="gj_side_contnet iocn_s7"><p>客服</p></div>
					<div class="gj_sidecon_desc"></div></li>
					<li><div class="gj_side_contnet iocn_s8"><p>反馈</p></div>
					<div class="gj_sidecon_desc"></div></li>
					<li><div class="gj_side_contnet iocn_s9"><p>顶部</p></div>
						<div class="gj_sidecon_desc"></div>
					</li>
					
				</ul>
		</div>
			<div class="footer">
				{include file="public/footer"}
			</div>
	</body>
	<script>		
		$(function(){			 
		   // $(".header").load("templates/header.html");
		   //  $(".footer").load("templates/footer.html")
		})
</script>
</html>
