<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<title></title>
	</head>
	<link rel="stylesheet" href="__STATIC__/css/style.css" />
	<link rel="stylesheet" href="__STATIC__/css/other.css" />
	<script src="__STATIC__/js/jquery-1.11.0.min.js"></script>
	<script src="__STATIC__/js/common.js" type="text/javascript" charset="utf-8"></script>
	<style>

	</style>
	
	<body>
	<div class="header">{include file="public/header"}</div>
        <div class="full_wid">
			<div class="header"></div>			
			<div class="news_bg"></div>
			<div class="wrap oh">
				<div class="breadnav">您的位置：<a href="#">郑州二手交易市场</a>>><a href="#">二手车新闻资讯 </a></div>
				<ul class="news_tab_nav">
					<li class="active"><a href="javascript:;" onclick="set('bd0',1,5)" id="bd01">公司新闻</a></li>
					<li><a href="javascript:;" onclick="set('bd0',2,5)" id="bd02">行业新闻</a></li>
					<li><a href="javascript:;" onclick="set('bd0',3,5)" id="bd03">媒体报道</a></li>
					<li><a href="javascript:;" onclick="set('bd0',4,5)" id="bd04">特色活动</a></li>
					<li><a href="javascript:;" onclick="set('bd0',5,5)" id="bd05">新车资讯</a></li>
				</ul>
				<div class="news_conlist">
					<ul id="conbd01">
						<li><a href="">
							<span class="news_listImg"><img src="__STATIC__/img/gds1.png" alt="" title="" height="167"/></span>
							<div class="news_text_desc ">
								<h2 class="hid">10万以上入手的郑州二手宝马3系 告诉你什么叫诠释低调的奢华</h2>
								<p>(管家车易站 选车导购) 很多人都说，二手宝马3系是进口双门轿跑版，整车颜值不是一般国产车整车颜值不是一般国产车整车颜值不是一般国产车整车颜值不是一般国产车整车颜值不是一般国产车整车颜值不是一般国产车整车颜值不是一般国产车能比的了(管家车易站 选车导购) 很多人都说，二手宝马3系是进口双门轿跑版，整车颜值不是一般国产车能比的的其次这款宝马...</p>
								<p class="time">2018/6/30</p>
							</div>
						</a></li>
						<li><a href="">
							<span class="news_listImg"><img src="__STATIC__/img/gds1.png" alt="" title="" height="167"/></span>
							<div class="news_text_desc ">
								<h2 class="hid">10万以上入手的郑州二手宝马3系 告诉你什么叫诠释低调的奢华</h2>
								<p>(管家车易站 选车导购) 很多人都说，二手宝马3系是进口双门轿跑版，整车颜值不是一般国产车整车颜值不是一般国产车整车颜值不是一般国产车整车颜值不是一般国产车整车颜值不是一般国产车整车颜值不是一般国产车整车颜值不是一般国产车能比的了(管家车易站 选车导购) 很多人都说，二手宝马3系是进口双门轿跑版，整车颜值不是一般国产车能比的的其次这款宝马...</p>
								<p class="time">2018/6/30</p>
							</div>
						</a></li>
						<li><a href="">
							<span class="news_listImg"><img src="__STATIC__/img/gds1.png" alt="" title="" height="167"/></span>
							<div class="news_text_desc ">
								<h2 class="hid">10万以上入手的郑州二手宝马3系 告诉你什么叫诠释低调的奢华</h2>
								<p>(管家车易站 选车导购) 很多人都说，二手宝马3系是进口双门轿跑版，整车颜值不是一般国产车整车颜值不是一般国产车整车颜值不是一般国产车整车颜值不是一般国产车整车颜值不是一般国产车整车颜值不是一般国产车整车颜值不是一般国产车能比的了(管家车易站 选车导购) 很多人都说，二手宝马3系是进口双门轿跑版，整车颜值不是一般国产车能比的的其次这款宝马...</p>
								<p class="time">2018/6/30</p>
							</div>
						</a></li>
						<li><a href="">
							<span class="news_listImg"><img src="__STATIC__/img/gds1.png" alt="" title="" height="167"/></span>
							<div class="news_text_desc ">
								<h2 class="hid">10万以上入手的郑州二手宝马3系 告诉你什么叫诠释低调的奢华</h2>
								<p>(管家车易站 选车导购) 很多人都说，二手宝马3系是进口双门轿跑版，整车颜值不是一般国产车整车颜值不是一般国产车整车颜值不是一般国产车整车颜值不是一般国产车整车颜值不是一般国产车整车颜值不是一般国产车整车颜值不是一般国产车能比的了(管家车易站 选车导购) 很多人都说，二手宝马3系是进口双门轿跑版，整车颜值不是一般国产车能比的的其次这款宝马...</p>
								<p class="time">2018/6/30</p>
							</div>
						</a></li>
					</ul>
					<ul id="conbd02" style="display: none;">
						<li><a href="">
							<span class="news_listImg"><img src="__STATIC__/img/gds1.png" alt="" title="" height="167"/></span>
							<div class="news_text_desc ">
								<h2 class="hid">210万以上入手的郑州二手宝马3系 告诉你什么叫诠释低调的奢华</h2>
								<p>(管家车易站 选车导购) 很多人都说，二手宝马3系是进口双门轿跑版，整车颜值不是一般国产车整车颜值不是一般国产车整车颜值不是一般国产车整车颜值不是一般国产车整车颜值不是一般国产车整车颜值不是一般国产车整车颜值不是一般国产车能比的了(管家车易站 选车导购) 很多人都说，二手宝马3系是进口双门轿跑版，整车颜值不是一般国产车能比的的其次这款宝马...</p>
								<p class="time">2018/6/30</p>
							</div>
						</a></li>
						<li><a href="">
							<span class="news_listImg"><img src="__STATIC__/img/gds1.png" alt="" title="" height="167"/></span>
							<div class="news_text_desc ">
								<h2 class="hid">10万以上入手的郑州二手宝马3系 告诉你什么叫诠释低调的奢华</h2>
								<p>(管家车易站 选车导购) 很多人都说，二手宝马3系是进口双门轿跑版，整车颜值不是一般国产车整车颜值不是一般国产车整车颜值不是一般国产车整车颜值不是一般国产车整车颜值不是一般国产车整车颜值不是一般国产车整车颜值不是一般国产车能比的了(管家车易站 选车导购) 很多人都说，二手宝马3系是进口双门轿跑版，整车颜值不是一般国产车能比的的其次这款宝马...</p>
								<p class="time">2018/6/30</p>
							</div>
						</a></li>
						<li><a href="">
							<span class="news_listImg"><img src="__STATIC__/img/gds1.png" alt="" title="" height="167"/></span>
							<div class="news_text_desc ">
								<h2 class="hid">10万以上入手的郑州二手宝马3系 告诉你什么叫诠释低调的奢华</h2>
								<p>(管家车易站 选车导购) 很多人都说，二手宝马3系是进口双门轿跑版，整车颜值不是一般国产车整车颜值不是一般国产车整车颜值不是一般国产车整车颜值不是一般国产车整车颜值不是一般国产车整车颜值不是一般国产车整车颜值不是一般国产车能比的了(管家车易站 选车导购) 很多人都说，二手宝马3系是进口双门轿跑版，整车颜值不是一般国产车能比的的其次这款宝马...</p>
								<p class="time">2018/6/30</p>
							</div>
						</a></li>
						<li><a href="">
							<span class="news_listImg"><img src="__STATIC__/img/gds1.png" alt="" title="" height="167"/></span>
							<div class="news_text_desc ">
								<h2 class="hid">10万以上入手的郑州二手宝马3系 告诉你什么叫诠释低调的奢华</h2>
								<p>(管家车易站 选车导购) 很多人都说，二手宝马3系是进口双门轿跑版，整车颜值不是一般国产车整车颜值不是一般国产车整车颜值不是一般国产车整车颜值不是一般国产车整车颜值不是一般国产车整车颜值不是一般国产车整车颜值不是一般国产车能比的了(管家车易站 选车导购) 很多人都说，二手宝马3系是进口双门轿跑版，整车颜值不是一般国产车能比的的其次这款宝马...</p>
								<p class="time">2018/6/30</p>
							</div>
						</a></li>
					</ul>
					<ul id="conbd03" style="display: none;">
						<li><a href="">
							<span class="news_listImg"><img src="__STATIC__/img/gds1.png" alt="" title="" height="167"/></span>
							<div class="news_text_desc ">
								<h2 class="hid">10万以上入手的郑州二手宝马3系 告诉你什么叫诠释低调的奢华</h2>
								<p>(管家车易站 选车导购) 很多人都说，二手宝马3系是进口双门轿跑版，整车颜值不是一般国产车整车颜值不是一般国产车整车颜值不是一般国产车整车颜值不是一般国产车整车颜值不是一般国产车整车颜值不是一般国产车整车颜值不是一般国产车能比的了(管家车易站 选车导购) 很多人都说，二手宝马3系是进口双门轿跑版，整车颜值不是一般国产车能比的的其次这款宝马...</p>
								<p class="time">2018/6/30</p>
							</div>
						</a></li>
						<li><a href="">
							<span class="news_listImg"><img src="__STATIC__/img/gds1.png" alt="" title="" height="167"/></span>
							<div class="news_text_desc ">
								<h2 class="hid">310万以上入手的郑州二手宝马3系 告诉你什么叫诠释低调的奢华</h2>
								<p>(管家车易站 选车导购) 很多人都说，二手宝马3系是进口双门轿跑版，整车颜值不是一般国产车整车颜值不是一般国产车整车颜值不是一般国产车整车颜值不是一般国产车整车颜值不是一般国产车整车颜值不是一般国产车整车颜值不是一般国产车能比的了(管家车易站 选车导购) 很多人都说，二手宝马3系是进口双门轿跑版，整车颜值不是一般国产车能比的的其次这款宝马...</p>
								<p class="time">2018/6/30</p>
							</div>
						</a></li>
						<li><a href="">
							<span class="news_listImg"><img src="__STATIC__/img/gds1.png" alt="" title="" height="167"/></span>
							<div class="news_text_desc ">
								<h2 class="hid">10万以上入手的郑州二手宝马3系 告诉你什么叫诠释低调的奢华</h2>
								<p>(管家车易站 选车导购) 很多人都说，二手宝马3系是进口双门轿跑版，整车颜值不是一般国产车整车颜值不是一般国产车整车颜值不是一般国产车整车颜值不是一般国产车整车颜值不是一般国产车整车颜值不是一般国产车整车颜值不是一般国产车能比的了(管家车易站 选车导购) 很多人都说，二手宝马3系是进口双门轿跑版，整车颜值不是一般国产车能比的的其次这款宝马...</p>
								<p class="time">2018/6/30</p>
							</div>
						</a></li>
						<li><a href="">
							<span class="news_listImg"><img src="__STATIC__/img/gds1.png" alt="" title="" height="167"/></span>
							<div class="news_text_desc ">
								<h2 class="hid">10万以上入手的郑州二手宝马3系 告诉你什么叫诠释低调的奢华</h2>
								<p>(管家车易站 选车导购) 很多人都说，二手宝马3系是进口双门轿跑版，整车颜值不是一般国产车整车颜值不是一般国产车整车颜值不是一般国产车整车颜值不是一般国产车整车颜值不是一般国产车整车颜值不是一般国产车整车颜值不是一般国产车能比的了(管家车易站 选车导购) 很多人都说，二手宝马3系是进口双门轿跑版，整车颜值不是一般国产车能比的的其次这款宝马...</p>
								<p class="time">2018/6/30</p>
							</div>
						</a></li>
					</ul>
					<ul id="conbd04" style="display: none;">
						<li><a href="">
							<span class="news_listImg"><img src="__STATIC__/img/gds1.png" alt="" title="" height="167"/></span>
							<div class="news_text_desc ">
								<h2 class="hid">410万以上入手的郑州二手宝马3系 告诉你什么叫诠释低调的奢华</h2>
								<p>(管家车易站 选车导购) 很多人都说，二手宝马3系是进口双门轿跑版，整车颜值不是一般国产车整车颜值不是一般国产车整车颜值不是一般国产车整车颜值不是一般国产车整车颜值不是一般国产车整车颜值不是一般国产车整车颜值不是一般国产车能比的了(管家车易站 选车导购) 很多人都说，二手宝马3系是进口双门轿跑版，整车颜值不是一般国产车能比的的其次这款宝马...</p>
								<p class="time">2018/6/30</p>
							</div>
						</a></li>
						<li><a href="">
							<span class="news_listImg"><img src="__STATIC__/img/gds1.png" alt="" title="" height="167"/></span>
							<div class="news_text_desc ">
								<h2 class="hid">10万以上入手的郑州二手宝马3系 告诉你什么叫诠释低调的奢华</h2>
								<p>(管家车易站 选车导购) 很多人都说，二手宝马3系是进口双门轿跑版，整车颜值不是一般国产车整车颜值不是一般国产车整车颜值不是一般国产车整车颜值不是一般国产车整车颜值不是一般国产车整车颜值不是一般国产车整车颜值不是一般国产车能比的了(管家车易站 选车导购) 很多人都说，二手宝马3系是进口双门轿跑版，整车颜值不是一般国产车能比的的其次这款宝马...</p>
								<p class="time">2018/6/30</p>
							</div>
						</a></li>
						<li><a href="">
							<span class="news_listImg"><img src="__STATIC__/img/gds1.png" alt="" title="" height="167"/></span>
							<div class="news_text_desc ">
								<h2 class="hid">10万以上入手的郑州二手宝马3系 告诉你什么叫诠释低调的奢华</h2>
								<p>(管家车易站 选车导购) 很多人都说，二手宝马3系是进口双门轿跑版，整车颜值不是一般国产车整车颜值不是一般国产车整车颜值不是一般国产车整车颜值不是一般国产车整车颜值不是一般国产车整车颜值不是一般国产车整车颜值不是一般国产车能比的了(管家车易站 选车导购) 很多人都说，二手宝马3系是进口双门轿跑版，整车颜值不是一般国产车能比的的其次这款宝马...</p>
								<p class="time">2018/6/30</p>
							</div>
						</a></li>
						<li><a href="">
							<span class="news_listImg"><img src="__STATIC__/img/gds1.png" alt="" title="" height="167"/></span>
							<div class="news_text_desc ">
								<h2 class="hid">10万以上入手的郑州二手宝马3系 告诉你什么叫诠释低调的奢华</h2>
								<p>(管家车易站 选车导购) 很多人都说，二手宝马3系是进口双门轿跑版，整车颜值不是一般国产车整车颜值不是一般国产车整车颜值不是一般国产车整车颜值不是一般国产车整车颜值不是一般国产车整车颜值不是一般国产车整车颜值不是一般国产车能比的了(管家车易站 选车导购) 很多人都说，二手宝马3系是进口双门轿跑版，整车颜值不是一般国产车能比的的其次这款宝马...</p>
								<p class="time">2018/6/30</p>
							</div>
						</a></li>
					</ul>
					<ul id="conbd05" style="display: none;">
						<li><a href="">
							<span class="news_listImg"><img src="__STATIC__/img/gds1.png" alt="" title="" height="167"/></span>
							<div class="news_text_desc ">
								<h2 class="hid">510万以上入手的郑州二手宝马3系 告诉你什么叫诠释低调的奢华</h2>
								<p>(管家车易站 选车导购) 很多人都说，二手宝马3系是进口双门轿跑版，整车颜值不是一般国产车整车颜值不是一般国产车整车颜值不是一般国产车整车颜值不是一般国产车整车颜值不是一般国产车整车颜值不是一般国产车整车颜值不是一般国产车能比的了(管家车易站 选车导购) 很多人都说，二手宝马3系是进口双门轿跑版，整车颜值不是一般国产车能比的的其次这款宝马...</p>
								<p class="time">2018/6/30</p>
							</div>
						</a></li>
						<li><a href="">
							<span class="news_listImg"><img src="__STATIC__/img/gds1.png" alt="" title="" height="167"/></span>
							<div class="news_text_desc ">
								<h2 class="hid">10万以上入手的郑州二手宝马3系 告诉你什么叫诠释低调的奢华</h2>
								<p>(管家车易站 选车导购) 很多人都说，二手宝马3系是进口双门轿跑版，整车颜值不是一般国产车整车颜值不是一般国产车整车颜值不是一般国产车整车颜值不是一般国产车整车颜值不是一般国产车整车颜值不是一般国产车整车颜值不是一般国产车能比的了(管家车易站 选车导购) 很多人都说，二手宝马3系是进口双门轿跑版，整车颜值不是一般国产车能比的的其次这款宝马...</p>
								<p class="time">2018/6/30</p>
							</div>
						</a></li>
						<li><a href="">
							<span class="news_listImg"><img src="__STATIC__/img/gds1.png" alt="" title="" height="167"/></span>
							<div class="news_text_desc ">
								<h2 class="hid">10万以上入手的郑州二手宝马3系 告诉你什么叫诠释低调的奢华</h2>
								<p>(管家车易站 选车导购) 很多人都说，二手宝马3系是进口双门轿跑版，整车颜值不是一般国产车整车颜值不是一般国产车整车颜值不是一般国产车整车颜值不是一般国产车整车颜值不是一般国产车整车颜值不是一般国产车整车颜值不是一般国产车能比的了(管家车易站 选车导购) 很多人都说，二手宝马3系是进口双门轿跑版，整车颜值不是一般国产车能比的的其次这款宝马...</p>
								<p class="time">2018/6/30</p>
							</div>
						</a></li>
						<li><a href="">
							<span class="news_listImg"><img src="__STATIC__/img/gds1.png" alt="" title="" height="167"/></span>
							<div class="news_text_desc ">
								<h2 class="hid">10万以上入手的郑州二手宝马3系 告诉你什么叫诠释低调的奢华</h2>
								<p>(管家车易站 选车导购) 很多人都说，二手宝马3系是进口双门轿跑版，整车颜值不是一般国产车整车颜值不是一般国产车整车颜值不是一般国产车整车颜值不是一般国产车整车颜值不是一般国产车整车颜值不是一般国产车整车颜值不是一般国产车能比的了(管家车易站 选车导购) 很多人都说，二手宝马3系是进口双门轿跑版，整车颜值不是一般国产车能比的的其次这款宝马...</p>
								<p class="time">2018/6/30</p>
							</div>
						</a></li>
					</ul>
				</div>
				
			</div>
			<div class="wrap news_car_recom">
				<div class="tit_er">
			        <div class="line_tit"></div>			        
			        <h2 class="color tit_con">热门二手车</h2>	       
			    </div>
			    <div class="car_list marbtp10 ">
				    <ul class="list">
                    asdasdasdasdasd

					</ul>
			    </div>
			    <div class="tit_er">
			        <div class="line_tit"></div>			        
			        <h2 class="color tit_con">热门新车</h2>	       
			    </div>
			    <div class="car_list marbtp10 ">
				   <ul class="list">
					   adddddddddddddddddddddd
						
					</ul>
			    </div>
			</div>
		</div>
		<div class="footer mtp40">	
			
		</div>
		<div class="fixedRight">
			<ul class="right_sider">
				<li><div class="gj_side_contnet iocn_s1"><p>pk</p></div>
					<div class="gj_sidecon_desc "></div>
				</li>
				<li><div class="gj_side_contnet iocn_s2"><p>收藏</p></div>
					<div class="gj_sidecon_desc"></div>
				</li>
				<li><div class="gj_side_contnet iocn_s3"><p>浏览</p></div>
					<div class="gj_sidecon_desc"></div>
				</li>
				<li><div class="gj_side_contnet iocn_s4"><p>个人</p></div>
					<div class="gj_sidecon_desc"></div>
				</li>
				<li><div class="gj_side_contnet iocn_s5"><p>公众号</p></div>
					<div class="gj_sidecon_desc"></div>
				</li>
				<li><div class="gj_side_contnet iocn_s6"><p>APP下载</p></div>
					<div class="gj_sidecon_desc"></div>
				</li>
				<li><div class="gj_side_contnet iocn_s7"><p>客服</p></div>
				<div class="gj_sidecon_desc"></div></li>
				<li><div class="gj_side_contnet iocn_s8"><p>反馈</p></div>
				<div class="gj_sidecon_desc"></div></li>
				<li><div class="gj_side_contnet iocn_s9"><p>顶部</p></div>
					<div class="gj_sidecon_desc"></div>
				</li>
				
			</ul>
		</div>
		<div class="footer">
			{include file="public/footer"}
		</div>
	</body>
	<script>		 
		$(function(){			
			// $(".header").load("templates/header.html");
		    // $(".footer").load("templates/footer.html");
		    $(".news_tab_nav li").click(function(){
		   	   $(this).addClass('active').siblings('li').removeClass('active')
		    })
		})
</script>
</html>
