<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8"/>
		<title></title>
	</head>
	 <link rel="icon" type="image/x-icon" href="favicon.png">
	<link rel="stylesheet" href="__STATIC__/css/style.css" />
	<link rel="stylesheet" href="__STATIC__/css/other.css" />
	<script src="__STATIC__/js/jquery-1.11.0.min.js"></script>
	<script src="__STATIC__/js/jquery.lazyload.min.js" type="text/javascript" charset="utf-8"></script>
	<script src="__STATIC__/js/common.js" type="text/javascript" charset="utf-8"></script>
	<style>	
	</style>
<body>	
<div class="header">
	{include file="public/header"}
</div>
<div class="banner1"><img src="__STATIC__/img/xinche.png" alt="" /></div>
<div class="newcar gj_clear">
    <div class="category">
   		<div class="classify p_r">
   			 <div class="brand_new fleft oh">
   			 	<h2>品牌</h2>
   			 	<ul>
   			 		<li><a href=""><img src="__STATIC__/img/aodi.png" alt="" /><p>奥迪</p></a></li>
				   	<li><a href=""><img src="__STATIC__/img/benci.png" alt="" /><p>奔驰</p></a></li>
				   	<li><a href=""><img src="__STATIC__/img/lekesasi.png" alt="" /><p>雷克萨斯</p></a></li>
				   	<li><a href=""><img src="__STATIC__/img/baoma.png" alt="" /><p>宝马</p></a></li>
				
				   	<li><a href=""><img src="__STATIC__/img/mazida.png" alt="" /><p>马自达</p></a></li>
				   	<li><a href=""><img src="__STATIC__/img/bentian.png" alt="" /><p>本田</p></a></li>
				   	<li><a href=""><img src="__STATIC__/img/haima.png" alt="" /><p>海马</p></a></li>
				   	<li><a href=""><img src="__STATIC__/img/fengtian.png" alt="" /><p>丰田</p></a></li>
				   	<li><a href=""><img src="__STATIC__/img/xuetielong.png" alt="" /><p>雪铁龙</p></a></li>
   			 	</ul>
   			 </div>
   			 <div class="price_new fleft oh">
   			 	<h2>首付</h2>
   			 	<ul>
   			 		<li><a href="">分期购</a></li>
   			 		<li><a href="" class="coloryel">一成购新车</a></li>
   			 		<li><a href="">1万以内</a></li>
   			 		<li><a href="">1-2万</a></li>
   			 		<li><a href="">2-3万</a></li>
   			 		<li><a href="">4-5万</a></li>
   			 		<li><a href="">3-4万</a></li>
                    <li><a href="">5万以上</a></li>
   			 	</ul>

   			 	
   			 </div>
   			 <div class="type_new fleft oh">
   			 	<h2>车型</h2>
   			 	<ul>
   			 		<li><a href=""><img src="__STATIC__/img/weixiaoxing.png" alt="" /><p>微小型车</p></a></li>
   			 		<li><a href=""><img src="__STATIC__/img/zhongxing.png" alt="" /><p>中型车</p></a></li>
   			 		<li><a href=""><img src="__STATIC__/img/paoche.png" alt="" /><p>跑车</p></a></li>
   			 		<li><a href=""><img src="__STATIC__/img/zhongdaxing.png" alt="" /><p>中大型车</p></a></li>
   			 		<li><a href=""><img src="__STATIC__/img/suv.png" alt="" /><p>SUV</p></a></li>
   			 		
   			 		<li><a href=""><img src="__STATIC__/img/mpv.png" alt="" /><p>MPV</p></a></li>
   			 	</ul>
   			 </div>			 
   			<a href="" class="coloryel more_lok">MORE>></a>
   		</div>	
   </div>
	<div class="wrap">
	    <div class="news_tit">
	        <h2>爆款新车</h2>	
	        <p class="small_tit">Explosive car</p>
	    </div>
	   <div class="gj_clear">
		    <div class="img_fac">
			 <div class="more_slt">
			 	<div class="gj_clear">
			 		<a href="">5-8万</a>
			 		<a href="">5-8万</a>
				 	<a href="">20-30万</a>
				 	<a href="">5-8万</a>
				 	<a href="">5-8万</a>
				 	<a href="">SUV</a>
				 	<a href="">MPV</a>	
				 	<a href="">宝马</a>
				 	<a href="">宝马5系</a>
				 	<a href="">20-30万</a>
			 	</div>
			 	
			<p><a href="">查看更多>></a></p>		 	
			 	
			 </div>
		   </div>
		    <div class="first_public">
		    	<ul class="md50">
		    		<li>
		    			<a href="newCarDetails.html">
			    			<h3>奔驰A4L 2017款 plus 40 TFSI进取型进取型进取型</h3>
							<div class="fleft car_img"><img src="__STATIC__/img/car11.png" alt="" /></div>
							<div class="fright car_public">
								<h4>首付4.27万</h4>
								<span>新车发售</span>
							</div>
							
						</a>
		    		</li>
		    		<li>
		    			<a href="">
			    			<h3>奔驰A4L 2017款 plus 40 TFSI进取型进取型进取型</h3>
							<div class="fleft car_img"><img src="__STATIC__/img/car11.png" alt="" /></div>
							<div class="fright car_public">
								<h4>首付4.27万</h4>
								<span>新车发售</span>
							</div>
						</a>
		    		</li>
		    		<li>
		    			<a href="">
			    			<h3>奔驰A4L 2017款 plus 40 TFSI进取型进取型进取型</h3>
							<div class="fleft car_img"><img src="__STATIC__/img/car11.png" alt="" /></div>
							<div class="fright car_public">
								<h4>首付4.27万</h4>
								<span>新车发售</span>
							</div>
						</a>
		    		</li>
		    	</ul>
		    </div>
	    </div>
	     <div class="news_tit">
	        <h2>热门推荐</h2>	
	        <p class="small_tit">Popular recommendation</p>
	    </div>
	    <div class="gj_clear">
	    	<ul class="list ptp15 new_list">
				<li class="items5">
					<a href="" class="car_img flex_center"><img src="" alt="" /></a>
					<a href="" class="car_desc">
						<h3>奔驰A4L 2017款 plus 40 TFSI 进取型</h3>
						<p><span class="pay_first">首付<b>55</b>万</span> <span class="padlt20">月供5555元</span> </p>
				
					</a>
					<img src="__STATIC__/img/baokuan.png" alt="" class="hot" />
				</li>
				<li class="items5">
					<a href="" class="car_img flex_center"><img src="" alt="" /></a>
					<a href="" class="car_desc">
						<h3>奔驰A4L 2017款 plus 40 TFSI 进取型</h3>
						<p><span class="pay_first">首付<b>55</b>万</span> <span class="padlt20">月供5555元</span> </p>
				
					</a>
				</li>
				<li class="items5">
					<a href="" class="car_img flex_center"><img src="" alt="" /></a>
					<a href="" class="car_desc">
						<h3>奔驰A4L 2017款 plus 40 TFSI 进取型</h3>
						<p><span class="pay_first">首付<b>55</b>万</span> <span class="padlt20">月供5555元</span> </p>
				
					</a>
				</li>
				<li class="items5">
					<a href="" class="car_img flex_center"><img src="" alt="" /></a>
					<a href="" class="car_desc">
						<h3>奔驰A4L 2017款 plus 40 TFSI 进取型</h3>
						<p><span class="pay_first">首付<b>55</b>万</span> <span class="padlt20">月供5555元</span> </p>
				
					</a>
				</li><li class="items5">
					<a href="" class="car_img flex_center"><img src="" alt="" /></a>
					<a href="" class="car_desc">
						<h3>奔驰A4L 2017款 plus 40 TFSI 进取型</h3>
						<p><span class="pay_first">首付<b>55</b>万</span> <span class="padlt20">月供5555元</span> </p>
				
					</a>
				</li>
				<li class="items5">
					<a href="" class="car_img flex_center"><img src="" alt="" /></a>
					<a href="" class="car_desc">
						<h3>奔驰A4L 2017款 plus 40 TFSI 进取型</h3>
						<p><span class="pay_first">首付<b>55</b>万</span> <span class="padlt20">月供5555元</span> </p>
				
					</a>
				</li>
				<li class="items5">
					<a href="" class="car_img flex_center"><img src="" alt="" /></a>
					<a href="" class="car_desc">
						<h3>奔驰A4L 2017款 plus 40 TFSI 进取型</h3>
						<p><span class="pay_first">首付<b>55</b>万</span> <span class="padlt20">月供5555元</span> </p>
				
					</a>
				</li>
			</ul>
			<div class="more_l">查看更多</div>
	    </div>
		<h2 class="newc_t">
			轻松四步  新车开回家
		</h2>
		<ul class="step oh">
			<li><img src="__STATIC__/img/yuyue.png" alt="" /><p>在线预约</p></li>
			<li><img src="__STATIC__/img/jiantou00.png" alt="" /></li>
			<li><img src="__STATIC__/img/xieyi.png" alt="" /><p>签订协议</p></li>
			<li><img src="__STATIC__/img/jiantou00.png" alt="" /></li>
			<li><img src="__STATIC__/img/zhifu.png" alt="" /><p>支付费用</p></li>
			<li><img src="__STATIC__/img/jiantou00.png" alt="" /></li>
			<li><img src="__STATIC__/img/kaiche.png" alt="" /><p>坐等新车</p></li>
		
		</div>
	<div class="adv_img">
		<h2>想开什么车 ？管家车易站应有尽有.</h2>
		<div class="buy_ipt">
			<input type="text" placeholder="请输入手机号"/>
			<div class="btn_buy">我要买车</div>
		</div>
	</div>
</div>

<div class="footer">
	{include file="public/footer"}
</div>

</body>


<script>
  
   window.onload=function()
   {
   	//  $(".header").load("templates/header.html");
     // $(".footer").load("templates/footer.html");
//   var sec=$('.wrap').html();
//   console.log(sec);
     
   	
   }
</script>
</html>
